*{
    box-sizing: content-box;
}

body {
    background-color: rgba(225, 117, 51, 1);

}

div {
    align-items: center;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 8rem;
    font-weight: 700;
    color: rgba(173, 0, 165, 1);
    text-shadow: 2px 3px rgba(41, 0, 39, 0.87)

}

.tooltip {
    position: relative;
    /*text-decoration: underline;
    color: darkblue;*/
    /*display: inline-block;*/

}

.tooltipText {
    position: absolute;
    top: 106%;
    left: -10%;
    width: 100%;
    min-width: 200px;
    display: inline;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: solid black 3px;
    border-radius: 10px;
    padding: 5px;
    z-index: 2;
    text-shadow: none;
    visibility: hidden;
    opacity:0;
    transition:0.5s;
}

.tooltipText::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 15px solid black;
    position: absolute;
    display: inline;
    top: -1em;
    left: 1em;
}

.show {
    visibility: visible;
    opacity: 1;
}
