* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    position: relative
}

li {
    list-style-type: none;
}

.complete {
    background-color: green;
    color: white
}

.toDoList {
    display: block;
    max-width: 500px;
    position: absolute;
    left:25%;
    right:25%;
}

.counter {
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: black;
    color: red;
}
